[Desktop Entry]
Encoding=UTF-8
Name=AlbaCoin
Comment=AlbaCoin P2P Cryptocurrency
Comment[fr]=AlbaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AlbaCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/albacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/albacoin;
Categories=Office;
